html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #111111;
}

table {
  width:768px;
  max-width: 768px;
  background-color: white;
  border-radius: 1em;
  font-size: 1em;
  overflow: hidden;
  border-collapse: collapse;
  text-align: left;
  color: dimgray;
}

table a {
  color: gray;
}

table img {
  display: block;
  margin: auto;
}

table td,
table th {
  padding: 1rem 0.75rem;
}

table th {
  border-bottom: 1px solid lightgray;
  color: gray;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

table td:first-child,
table th:first-child {
  padding-left: 1.5rem;
}

table td:last-child,
table th:last-child {
  padding-right: 1.5rem;
}

table td.data > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

table td.data > div:nth-child(2) {
  color: gray;
  font-size: 0.85em;
}

table td.date1,
table td.total {
  font-weight: bold;
}

table td.total {
  font-size: 1.15em;
}

table td.status {
  font-size: 0.75em;
  font-weight: bold;
}

table td.status .done {
  color: limegreen;
}

table td.status .done::before {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  box-sizing: border-box;
  border: 0.3em solid limegreen;
  border-radius: 0.4em;
  display: inline-block;
  margin-right: 0.5em;
}

table td.status .pending {
  color: orange;
}

table td.status .pending::before {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  box-sizing: border-box;
  border: 0.3em solid orange;
  border-radius: 0.4em;
  display: inline-block;
  margin-right: 0.5em;
}

table td.menu div {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  transform: rotate(90deg);
  user-select: none;
}

table td.pages {
  text-align: right;
}

table td.pages div {
  border: 0.1em solid lightgray;
  font-weight: bold;

  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.25em;
  cursor: pointer;
  user-select: none;
}
.tableHeader{
  width:1000px;
  display: flex;
  padding-left: 65px;
}
.headerName{
  margin-right: 95px;
}
.headerCredentials{
  margin-right: 180px;
}
.headerStatus{
  margin-right: 5px;
}
tfoot{
  width:100%;
}

.menuContainer{
  display: flex;
  justify-content: space-between;
  width:1000px;
  margin-top: 32px;
  margin-bottom: 10px;
}
.menuItem{
  height: 42px;
  width: 190px;
  border:1px solid grey;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  padding-left: 3px;
  align-items: center;
}
.menuItem input{
  width: 170px;
  margin-left: 10px;
  background-color: inherit;
  outline: none;
  border:none;
  font-size: 15px;
  color:grey;
}

.menuItemDate{
  margin-top: -22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6B6F7B;

}
.d-flex{
  display: flex;
}

.searchByDate{
  color: #6B6F7B;
}
.item{
  width:1000px;
  display: flex;
  
}
.checkBoxColumn{
  width:35px;
  min-width: 35px;
}
.companyNameColumn{
  width:135px;
  min-width: 135px;
  display: flex;
}
.cardColumn{
  width:140px;
  min-width: 140px;
}
.userName{
  width: 175px;
  min-width: 175px;
}
.endDate{
  width:130px;
  min-width: 130px;
}
.status{
  width:65px;
  min-width: 65px;
}
.dateColumn{
  width:70px;
  min-width: 70px;
}
.total{
  width:85px;
  min-width: 85px;
}
.date1{
  width:55px;
  min-width:55px;
}
.totalMoney{
  width:85px;
  min-width: 85px;
}
main .list {
	width: 100%;
	max-width: 768px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-top: 25px;
}



.pagenumbers {
  width:1030px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pagenumbers tr {
	width: 50px;
	height: 50px;
  line-height: 50px;
  text-align: center;
	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
	margin: 5px;
	transition: 0.4s;
	color: rgb(67, 65, 65);
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers tr:hover {
	background-color: #9aaca5;
}

.pagenumbers tr.active {
	background-color: #9aaca5;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}


.img_ro{
  width:30px;
  height:30px;
  margin: 0;
  margin-right: 30px;
}
.active{
  background-color: green;
}
.gapColumn{
  width:35px;
  min-width: 35px;
}
.logo{
  margin-bottom: 8px;
}
.companyName{
  width:150px;
  min-width: 150px;
}
.cardsColumn{
  width:120px;
  min-width: 120px;
}
.userName{
  width:150px;
  min-width: 150px;
}
.lastTransactionColumn{
  width:120px;
  min-width: 120px;
}
.button_sorting{
  border: 1px solid grey;
  border-radius: 8px;
  width:150px;
  height:50px;
  background-color: lightgray;
  margin:10px 10px 10px 0px;
}
.active{
  background-color: #9aaca5;
  color:white;
}